In [35]:
# importing all packages i will need for data cleaning , manipulation,
#visualisation, data preprocessing, model building and model evaluation
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot  as plt
from sklearn.preprocessing import  LabelEncoder
from sklearn.preprocessing import  OneHotEncoder
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
import lightgbm as lgb
import xgboost as xgb
from sklearn.metrics import  r2_score,mean_absolute_error,root_mean_squared_error

In [36]:
#loading excel data as a dataframe known as df
df = pd.read_excel('Project_custom-import_data.xlsx')

In [37]:
df.head()

,Unnamed: 0,Custom Office,Reg Number,Importer,HS Code,FOB Value (N),CIF Value (N),Total Tax(N),Receipt Number,Receipt Date,Mass(KG),Country of Origin,Country of Supply,Nbr Of Containers,Container Nbr,Container Size
0,0,UA PORT,C1195,29143,12900000,1046575,1119220,137105,R599,03/07/1866,126,Germany,NaN,0,NaN,NaN
1,1,UA PORT,C1195,29143,36700000,216957,232002,68365,R599,03/07/1866,26,Germany,NaN,0,NaN,NaN
2,2,UA PORT,C1195,29143,39390000,172037,183858,54415,R599,03/07/1866,21,Germany,NaN,0,NaN,NaN
3,3,UA PORT,C1277,62056,40890000,776007,915286,162868,R621,03/08/1866,71,Belgium,Belgium,0,NaN,NaN
4,4,UA PORT,C1292,93763,37100000,234651,301040,37415,R614,03/08/1866,45,Turkey,Turkey,0,NaN,NaN

In [38]:
#checking for duplicate rows
df.duplicated().sum()

np.int64(0)

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77789 entries, 0 to 77788
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          77789 non-null  int64
 1   Custom Office       77789 non-null  object
 2   Reg Number          77789 non-null  object
 3   Importer            77789 non-null  int64
 4   HS Code             77789 non-null  int64
 5   FOB Value (N)       77789 non-null  int64
 6   CIF Value (N)       77789 non-null  int64
 7   Total Tax(N)        77789 non-null  int64
 8   Receipt Number      76493 non-null  object
 9   Receipt Date        76493 non-null  object
 10  Mass(KG)            77789 non-null  int64
 11  Country  of Origin  77789 non-null  object
 12  Country  of Supply  76826 non-null  object
 13  Nbr Of Containers   77789 non-null  int64
 14  Container Nbr       45436 non-null  object
 15  Container Size      45436 non-null  object
dtypes: int64(8), object(8)
memory usage: 9.5+ MB

In [40]:
df.columns

Index(['Unnamed: 0', 'Custom Office', 'Reg Number', 'Importer', 'HS Code',
       'FOB Value (N)', 'CIF Value (N)', 'Total Tax(N)', 'Receipt Number',
       'Receipt Date', 'Mass(KG)', 'Country  of Origin', 'Country  of Supply',
       'Nbr Of Containers', 'Container Nbr', 'Container Size'],
      dtype='object')

In [41]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [42]:
df.dtypes

Custom Office         object
Reg Number            object
Importer               int64
HS Code                int64
FOB Value (N)          int64
CIF Value (N)          int64
Total Tax(N)           int64
Receipt Number        object
Receipt Date          object
Mass(KG)               int64
Country  of Origin    object
Country  of Supply    object
Nbr Of Containers      int64
Container Nbr         object
Container Size        object
dtype: object

In [43]:
df.isna().sum()

Custom Office             0
Reg Number                0
Importer                  0
HS Code                   0
FOB Value (N)             0
CIF Value (N)             0
Total Tax(N)              0
Receipt Number         1296
Receipt Date           1296
Mass(KG)                  0
Country  of Origin        0
Country  of Supply      963
Nbr Of Containers         0
Container Nbr         32353
Container Size        32353
dtype: int64

In [44]:
df['Receipt Number'].describe()

count      76493
unique     42977
top       R54402
freq          90
Name: Receipt Number, dtype: object

In [45]:
df['Receipt Number']

0        R599
1        R599
2        R599
3        R621
4        R614
         ...
77784     NaN
77785     NaN
77786     NaN
77787     NaN
77788     NaN
Name: Receipt Number, Length: 77789, dtype: object

In [46]:
df['Country  of Origin'].unique()

array(['Germany', 'Belgium', 'Turkey', 'China', 'Azerbaijan',
       'United States', 'United Kingdom', 'Finland', 'Canada',
       'Republic of South Africa', 'Italy', 'Denmark',
       'Korea, Republic of', 'France', 'Netherlands', 'Kenya', 'India',
       'Israel', 'Poland', 'Malaysia', 'Switzerland', 'Hong Kong',
       'United Arab Emirates', 'Ethiopia', 'Taiwan, Province of China',
       'Tokelau', 'Norway', 'Swaziland', 'Saudi Arabia', 'Czech Republic',
       'Singapore', 'Cambodia', 'Austria', 'Australia',
       'United Republic of Tanzania', 'Bulgaria', 'Morocco', 'Japan',
       'Thailand', 'Spain', 'Cameroon', 'Lebanon', 'Indonesia',
       'Viet Nam', 'Brazil', 'Philippines', 'Sweden', 'Egypt', 'Hungary',
       'Greece', 'Latvia', 'Uganda', 'Mexico', 'Ukraine', 'Angola',
       'Estonia', 'Syrian Arab Republic', 'Ghana', 'Costa Rica',
       "Korea, Democratic People's Rep. of", 'Netherlands Antilles',
       'Romania', 'Slovakia', 'Saint Vincent and the Grenadines',
       'Equatorial Guinea', 'Nigeria', 'Tunisia', 'Papua New Guinea',
       'Luxembourg', 'Mozambique', 'Ireland', 'Slovenia', 'Lithuania',
       "Cote d'Ivoire", 'Antigua and Barbuda', 'Isle of Man',
       'New Zealand', 'Argentina', 'Cyprus', 'Niger', 'Aruba', 'Malta',
       'Nepal', 'Bouvet Island', 'Georgia', 'Russian Federation',
       'Iran, Islamic Republic of', 'Qatar', 'Jamaica', 'Kuwait', 'Oman',
       'Liechtenstein', 'Gabon', 'Senegal', 'Mauritius', 'Guinea',
       'United States Virgin Islands', 'Panama', 'Bahrain', 'Colombia',
       'Portugal', 'Holy See (Vatican)', 'British Virgin Islands',
       'Libyan Arab Jamahiriya', 'Iceland', 'Trinidad and Tobago',
       'Bosnia and Herzegovina', 'British Indian Ocean Territory',
       'Guadeloupe', 'Mali', 'Benin', 'Zambia', 'Pakistan', 'Congo',
       'Venezuela', 'Croatia', 'East Timor', 'Bangladesh',
       'Brunei Darussalam', 'Albania', 'Sri Lanka', 'Kazakstan',
       'Dominican Republic', 'Andorra', 'Ecuador', 'Guam',
       'New Caledonia', 'Togo', 'Anguilla', 'Cape Verde', 'Armenia',
       'Gulder', 'Namibia', 'Madagascar', 'Saint Pierre and Miquelon',
       'Cocos (Keeling) Islands', 'Sierra Leone',
       'Christmas Island[Australia]'], dtype=object)

In [47]:
import re

In [51]:
korea_countries =df[df['Country  of Origin'].str.contains('orea',regex=True,flags=re.I)]

In [52]:
korea_countries['Country  of Origin'].unique()

array(['Korea, Republic of', "Korea, Democratic People's Rep. of"],
      dtype=object)

In [53]:
df['Country  of Origin'].str.replace('"Korea','Korea')

0                       Germany
1                       Germany
2                       Germany
3                       Belgium
4                        Turkey
                  ...
77784    British Virgin Islands
77785    British Virgin Islands
77786    British Virgin Islands
77787    British Virgin Islands
77788    British Virgin Islands
Name: Country  of Origin, Length: 77789, dtype: object

In [55]:
df['Country  of Origin'].str.replace('\'Korea','Korea')

0                       Germany
1                       Germany
2                       Germany
3                       Belgium
4                        Turkey
                  ...
77784    British Virgin Islands
77785    British Virgin Islands
77786    British Virgin Islands
77787    British Virgin Islands
77788    British Virgin Islands
Name: Country  of Origin, Length: 77789, dtype: object

In [56]:
df['Country  of Origin'].unique()

array(['Germany', 'Belgium', 'Turkey', 'China', 'Azerbaijan',
       'United States', 'United Kingdom', 'Finland', 'Canada',
       'Republic of South Africa', 'Italy', 'Denmark',
       'Korea, Republic of', 'France', 'Netherlands', 'Kenya', 'India',
       'Israel', 'Poland', 'Malaysia', 'Switzerland', 'Hong Kong',
       'United Arab Emirates', 'Ethiopia', 'Taiwan, Province of China',
       'Tokelau', 'Norway', 'Swaziland', 'Saudi Arabia', 'Czech Republic',
       'Singapore', 'Cambodia', 'Austria', 'Australia',
       'United Republic of Tanzania', 'Bulgaria', 'Morocco', 'Japan',
       'Thailand', 'Spain', 'Cameroon', 'Lebanon', 'Indonesia',
       'Viet Nam', 'Brazil', 'Philippines', 'Sweden', 'Egypt', 'Hungary',
       'Greece', 'Latvia', 'Uganda', 'Mexico', 'Ukraine', 'Angola',
       'Estonia', 'Syrian Arab Republic', 'Ghana', 'Costa Rica',
       "Korea, Democratic People's Rep. of", 'Netherlands Antilles',
       'Romania', 'Slovakia', 'Saint Vincent and the Grenadines',
       'Equatorial Guinea', 'Nigeria', 'Tunisia', 'Papua New Guinea',
       'Luxembourg', 'Mozambique', 'Ireland', 'Slovenia', 'Lithuania',
       "Cote d'Ivoire", 'Antigua and Barbuda', 'Isle of Man',
       'New Zealand', 'Argentina', 'Cyprus', 'Niger', 'Aruba', 'Malta',
       'Nepal', 'Bouvet Island', 'Georgia', 'Russian Federation',
       'Iran, Islamic Republic of', 'Qatar', 'Jamaica', 'Kuwait', 'Oman',
       'Liechtenstein', 'Gabon', 'Senegal', 'Mauritius', 'Guinea',
       'United States Virgin Islands', 'Panama', 'Bahrain', 'Colombia',
       'Portugal', 'Holy See (Vatican)', 'British Virgin Islands',
       'Libyan Arab Jamahiriya', 'Iceland', 'Trinidad and Tobago',
       'Bosnia and Herzegovina', 'British Indian Ocean Territory',
       'Guadeloupe', 'Mali', 'Benin', 'Zambia', 'Pakistan', 'Congo',
       'Venezuela', 'Croatia', 'East Timor', 'Bangladesh',
       'Brunei Darussalam', 'Albania', 'Sri Lanka', 'Kazakstan',
       'Dominican Republic', 'Andorra', 'Ecuador', 'Guam',
       'New Caledonia', 'Togo', 'Anguilla', 'Cape Verde', 'Armenia',
       'Gulder', 'Namibia', 'Madagascar', 'Saint Pierre and Miquelon',
       'Cocos (Keeling) Islands', 'Sierra Leone',
       'Christmas Island[Australia]'], dtype=object)